<div class="lista-rutas">

  <h1>Mis rutas</h1>

  <button class="btn-crear" (click)="crearNuevaRuta()">
    ➕ Crear nueva ruta
  </button>

  <div *ngIf="cargando()">Cargando rutas...</div>

<ul *ngIf="!cargando() && rutas().length > 0">

  <li *ngFor="let r of rutas()">

    <div class="info-ruta" (click)="abrirRuta(r.id!)">
      <strong>{{ r.nombrePersonalizado }}</strong>
      <span class="base">({{ r.nombreBase }})</span>
    </div>

    <!-- BOTONES DE ACCIÓN -->
    <div class="acciones">

      <button class="btn-iniciar" *ngIf="estadoReparto(r.id!) === 'nuevo'"
              (click)="iniciarReparto(r.id!)">
        ▶ Repartir
      </button>

      <button *ngIf="estadoReparto(r.id!) === 'continuar'"
              (click)="continuarReparto(r.id!)">
        ⏯ Continuar reparto
      </button>

      <button *ngIf="estadoReparto(r.id!) === 'finalizado'"
              (click)="reiniciarReparto(r.id!)">
        🔄 Reiniciar reparto
      </button>

    </div>

  </li>

</ul>

  <p *ngIf="!cargando() && rutas().length === 0">
    No tienes rutas creadas todavía.
  </p>

</div>