<div class="lista-rutas">

  <h1>Mis rutas</h1>

  <button class="btn-crear" (click)="crearNuevaRuta()">
    ➕ Nueva ruta
  </button>

  <div *ngIf="cargando()">Cargando rutas...</div>

<ul *ngIf="!cargando() && rutas().length > 0">

<li *ngFor="let r of rutas()" class="card ruta-card">

  <div class="info-ruta" (click)="abrirRuta(r.id!)">
    <div class="titulo">
      {{ r.nombrePersonalizado }}
    </div>

    <div class="sub">
      Zona {{ r.nombreBase }}
    </div>
  </div>

  <div class="acciones">

<span class="estado"
      [class.nuevo]="estadoReparto(r.id!) === 'nuevo'"
      [class.continuar]="estadoReparto(r.id!) === 'continuar'"
      [class.finalizado]="estadoReparto(r.id!) === 'finalizado'">

  {{ estadoReparto(r.id!) === 'nuevo' ? 'Sin iniciar' :
     estadoReparto(r.id!) === 'continuar' ? 'En curso' : 'Finalizada' }}
</span>


    <button class="btn-secundario"
            *ngIf="estadoReparto(r.id!) === 'nuevo'"
            (click)="iniciarReparto(r.id!)">
      ▶ Repartir
    </button>

    <button class="btn-secundario"
            *ngIf="estadoReparto(r.id!) === 'continuar'"
            (click)="continuarReparto(r.id!)">
      ⏯ Continuar
    </button>

    <button class="btn-peligro"
            *ngIf="estadoReparto(r.id!) === 'finalizado'"
            (click)="reiniciarReparto(r.id!)">
      🔄 Reiniciar
    </button>

  </div>

</li>

</ul>

  <p *ngIf="!cargando() && rutas().length === 0">
    No tienes rutas creadas todavía.
  </p>

</div>