<div class="login-container">

  <div class="login-card">

    <div class="logo">
      🚚
    </div>

    <h1 class="titulo-app">DB Reparto</h1>
    <p class="subtitulo">Accede para continuar</p>

    <!-- SI NO ESTÁ LOGUEADO -->
    <button *ngIf="!usuarioLogueado"
            class="google-btn"
            (click)="loginGoogle()">
      Iniciar sesión con Google
    </button>

    <!-- SI YA ESTÁ LOGUEADO -->
    <button *ngIf="usuarioLogueado"
            class="btn-entrar"
            (click)="entrar()">
      Entrar
    </button>

  </div>

</div>
