<div class="editar-ruta">

  <h1>Editar ruta</h1>

<label>Nombre de la ruta:
  <input type="text" [(ngModel)]="nombrePersonalizado" placeholder="Ej: Mi GAMONAL">
</label>

<div class="campo">
  <div class="label">Zona base:</div>
  <div class="readonly">{{ nombreBase }}</div>
</div>

  <div class="acciones">
    <button class="btn-guardar" (click)="guardarCambios()">Guardar cambios</button>
    <button class="btn-eliminar" (click)="eliminarRuta()">Eliminar ruta</button>
    <button class="btn-cancelar" (click)="volver()">Cancelar</button>
  </div>

</div>
