<div class="app-layout">

  <!-- ocultar menú completo en login -->
  <app-menu *ngIf="mostrarHamburguesa()"></app-menu>

  <header class="app-header" *ngIf="mostrarHamburguesa()">
    <button class="btn-hamburger" (click)="toggleMenu()">☰</button>
  </header>

  <main class="contenido">
    <router-outlet></router-outlet>
  </main>

  <app-toast></app-toast>
  <app-loading></app-loading>

  <!-- ocultar footer en login -->
  <footer class="app-footer" *ngIf="mostrarFooter()">
    <p>RutaGo • © {{ currentYear }} • Creado por Alan Ivan Ertel Ramirez</p>
  </footer>
  
<div class="css-splash">
  <img src="assets/icons/icon-192x192.png" />
  <div class="nombre">RutaGo</div>
  <div class="tagline">Gestión de rutas</div>
</div>

</div>
